.footer-title{
    a{
        color:white;
    }
    li:hover{
        font-size: 20px;
        background:#d00600;
    }
    .footer-icon{
        img{
            width: 48px;
        }
    }
    @include ipad {
        .footer-icon{
            img{
                width: 40px;
            }
        }
    }
    @include phone {
        float: right;
        .footer-menu{
            display: none;
        }
        .footer-icon{
            li{
                margin: 0 4px;
            }
            img{
                width: 24px;
            }
        }
    }
}

.footer-copyright{
    border-bottom: 1px solid white;
    @include ipad {
        .fa-phone,.fa-envelope{
            margin-bottom: 15px;
        }
        .fa-phone{
            margin-top: 27px;
        }
        .fa-envelope{
            padding-bottom: 13px;
        }
        .fa-2x{
            font-size: 1em;
            .footer-phone,.footer-mail{
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }
    @include phone {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.footer-terms{
    @include phone {
        margin-top: 16px;
        align-items: start;
        flex-direction: column;
        .footer-left{
            margin: 4px 0;
        }
        .footer-right{
            flex-direction: column;
            flex-wrap: wrap;
        }
        .footer-text{
            margin: 4px 0;
        }
    }
}