.logo {
  img {
    vertical-align: middle;
    max-width: 80px;
  }
  @include phone {
    margin-top: 16px;
  }
}
header {
  background: #aa0601;
}
.header-title {
  li:hover {
    font-size: 22px;
  }
  @include phone {
    flex-direction: column;
    align-items: center;
    .menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    li {
      display: flex;
      justify-content: center;
      width: 30%;
    }
  }
}
nav {
  background: $primary;
}
