.functional{
    li{
        border-left: 1px solid $bg-gray;
        border-right: 1px solid $bg-gray;
        width: 21.5%;
        &:hover{
            border-bottom: 8px solid $primary;
        }
        a{
            color:$bg-black;
        }
    }
    @include ipad {
        li{
            width: 33.333%;
            font-size: 24px;
            line-height: 36px;
        }
    }
    @include phone {
        li{
            font-size: 16px;
            line-height: 24px;
        }
    }
}
.functional-img {
    img{
        width: 100%;
    }
}

.combi-item{
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    .combi-color{
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }
    @include ipad {
        width: 48%;
        margin-bottom: 40px;
    }
    @include phone {
        width: 100%;
        margin-bottom: 24px;
    }
}

.combi{
    @include phone {
        h3,p{
            font-size: 24px;
            line-height: 36px;
        }
    }
}

.page{
    .page-item{
        background-color: $text-dark;
        border: 1px solid #555555;
        &:hover{
            background: #F2F2F2;
        }
        a{
            color:#555555;
        }
        @include phone {
            font-size: 16px;
            line-height: 26px;
            padding: 7px 12.5px;
        }
    }
    @include phone{
        margin-bottom: 64px;
    }
    
}
